@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 45% 20%;
    --card: 60 100% 97%;
    --card-foreground: 25 45% 20%;
    --popover: 60 100% 97%;
    --popover-foreground: 25 45% 20%;
    --primary: 34 44% 65%;
    --primary-foreground: 25 45% 15%;
    --secondary: 35 30% 85%;
    --secondary-foreground: 25 45% 20%;
    --muted: 35 30% 88%;
    --muted-foreground: 25 45% 35%;
    --accent: 34 44% 75%;
    --accent-foreground: 25 45% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 25% 80%;
    --input: 35 25% 85%;
    --ring: 34 44% 65%;
    --chart-1: 34 44% 65%;
    --chart-2: 34 44% 55%;
    --chart-3: 34 44% 45%;
    --chart-4: 34 44% 35%;
    --chart-5: 34 44% 25%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 25 20% 10%;
    --foreground: 60 56% 91%;
    --card: 25 20% 12%;
    --card-foreground: 60 56% 91%;
    --popover: 25 20% 10%;
    --popover-foreground: 60 56% 91%;
    --primary: 34 44% 75%;
    --primary-foreground: 25 45% 15%;
    --secondary: 25 20% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 25 20% 15%;
    --muted-foreground: 60 50% 80%;
    --accent: 34 44% 65%;
    --accent-foreground: 25 45% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 20% 25%;
    --input: 25 20% 25%;
    --ring: 34 44% 75%;
    --chart-1: 34 44% 75%;
    --chart-2: 34 44% 65%;
    --chart-3: 34 44% 55%;
    --chart-4: 34 44% 45%;
    --chart-5: 34 44% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
